In [13]:
import pandas as pd
import numpy as np

Read the csv file

In [14]:
df = pd.read_csv("raw_cafe_sales.csv")

In [15]:
print(df.shape)
print(df.info())
print(df.head())
print(df.isna().sum())

(10000, 8)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    10000 non-null  object
 1   Item              9667 non-null   object
 2   Quantity          9862 non-null   object
 3   Price Per Unit    9821 non-null   object
 4   Total Spent       9827 non-null   object
 5   Payment Method    7421 non-null   object
 6   Location          6735 non-null   object
 7   Transaction Date  9841 non-null   object
dtypes: object(8)
memory usage: 625.1+ KB
None
  Transaction ID    Item Quantity Price Per Unit Total Spent  Payment Method  \
0    TXN_1961373  Coffee        2            2.0         4.0     Credit Card
1    TXN_4977031    Cake        4            3.0        12.0            Cash
2    TXN_4271903  Cookie        4            1.0       ERROR     Credit Card
3    TXN_7034554   Salad        2            5.0        10.0         UNKNOWN
4    TXN_3160411  Coffee        2            2.0         4.0  Digital Wallet

   Location Transaction Date
0  Takeaway       2023-09-08
1  In-store       2023-05-16
2  In-store       2023-07-19
3   UNKNOWN       2023-04-27
4  In-store       2023-06-11
Transaction ID         0
Item                 333
Quantity             138
Price Per Unit       179
Total Spent          173
Payment Method      2579
Location            3265
Transaction Date     159
dtype: int64

In [16]:
print(df)

     Transaction ID      Item Quantity Price Per Unit Total Spent  \
0       TXN_1961373    Coffee        2            2.0         4.0
1       TXN_4977031      Cake        4            3.0        12.0
2       TXN_4271903    Cookie        4            1.0       ERROR
3       TXN_7034554     Salad        2            5.0        10.0
4       TXN_3160411    Coffee        2            2.0         4.0
...             ...       ...      ...            ...         ...
9995    TXN_7672686    Coffee        2            2.0         4.0
9996    TXN_9659401       NaN        3            NaN         3.0
9997    TXN_5255387    Coffee        4            2.0         8.0
9998    TXN_7695629    Cookie        3            NaN         3.0
9999    TXN_6170729  Sandwich        3            4.0        12.0

      Payment Method  Location Transaction Date
0        Credit Card  Takeaway       2023-09-08
1               Cash  In-store       2023-05-16
2        Credit Card  In-store       2023-07-19
3            UNKNOWN   UNKNOWN       2023-04-27
4     Digital Wallet  In-store       2023-06-11
...              ...       ...              ...
9995             NaN   UNKNOWN       2023-08-30
9996  Digital Wallet       NaN       2023-06-02
9997  Digital Wallet       NaN       2023-03-02
9998  Digital Wallet       NaN       2023-12-02
9999            Cash  In-store       2023-11-07

[10000 rows x 8 columns]

Remove the duplicates

In [17]:
df = df.drop_duplicates()
print(df)

     Transaction ID      Item Quantity Price Per Unit Total Spent  \
0       TXN_1961373    Coffee        2            2.0         4.0
1       TXN_4977031      Cake        4            3.0        12.0
2       TXN_4271903    Cookie        4            1.0       ERROR
3       TXN_7034554     Salad        2            5.0        10.0
4       TXN_3160411    Coffee        2            2.0         4.0
...             ...       ...      ...            ...         ...
9995    TXN_7672686    Coffee        2            2.0         4.0
9996    TXN_9659401       NaN        3            NaN         3.0
9997    TXN_5255387    Coffee        4            2.0         8.0
9998    TXN_7695629    Cookie        3            NaN         3.0
9999    TXN_6170729  Sandwich        3            4.0        12.0

      Payment Method  Location Transaction Date
0        Credit Card  Takeaway       2023-09-08
1               Cash  In-store       2023-05-16
2        Credit Card  In-store       2023-07-19
3            UNKNOWN   UNKNOWN       2023-04-27
4     Digital Wallet  In-store       2023-06-11
...              ...       ...              ...
9995             NaN   UNKNOWN       2023-08-30
9996  Digital Wallet       NaN       2023-06-02
9997  Digital Wallet       NaN       2023-03-02
9998  Digital Wallet       NaN       2023-12-02
9999            Cash  In-store       2023-11-07

[10000 rows x 8 columns]

Column names

In [18]:
df.columns = df.columns.str.strip().str.lower().str.replace(" ", "_")
print(df)

     transaction_id      item quantity price_per_unit total_spent  \
0       TXN_1961373    Coffee        2            2.0         4.0
1       TXN_4977031      Cake        4            3.0        12.0
2       TXN_4271903    Cookie        4            1.0       ERROR
3       TXN_7034554     Salad        2            5.0        10.0
4       TXN_3160411    Coffee        2            2.0         4.0
...             ...       ...      ...            ...         ...
9995    TXN_7672686    Coffee        2            2.0         4.0
9996    TXN_9659401       NaN        3            NaN         3.0
9997    TXN_5255387    Coffee        4            2.0         8.0
9998    TXN_7695629    Cookie        3            NaN         3.0
9999    TXN_6170729  Sandwich        3            4.0        12.0

      payment_method  location transaction_date
0        Credit Card  Takeaway       2023-09-08
1               Cash  In-store       2023-05-16
2        Credit Card  In-store       2023-07-19
3            UNKNOWN   UNKNOWN       2023-04-27
4     Digital Wallet  In-store       2023-06-11
...              ...       ...              ...
9995             NaN   UNKNOWN       2023-08-30
9996  Digital Wallet       NaN       2023-06-02
9997  Digital Wallet       NaN       2023-03-02
9998  Digital Wallet       NaN       2023-12-02
9999            Cash  In-store       2023-11-07

[10000 rows x 8 columns]

Rename Column Names

In [19]:
df = df.rename(columns={
    "price_per_unit": "unit_price",
    "total_spent": "total_sales"
})

convert the datatypes

In [20]:
# Convert Quantity and Price_per_unit to numeric
for col in ["quantity", "unit_price","total_sales"]:
    if col in df.columns:
        df[col] = pd.to_numeric(df[col], errors="coerce")

 #Convert date columns 
if 'transaction_date' in df.columns: 
    df['transaction_date'] = pd.to_datetime(df['transaction_date'], errors='coerce')


df['transaction_date'] = df['transaction_date'].replace(' ', 'NULL')

Fill missing values

In [21]:


df.replace('ERROR', pd.NA, inplace=True)
# Fill missing numeric with 0
for col in df.select_dtypes(include="number").columns:
    df[col] = df[col].fillna(0)

# Fill missing text with 'Unknown'
for col in df.select_dtypes(include="object").columns:
    df[col]=df[col].fillna("UNKNOWN")
    



print(df)

     transaction_id      item  quantity  unit_price  total_sales  \
0       TXN_1961373    Coffee       2.0         2.0          4.0
1       TXN_4977031      Cake       4.0         3.0         12.0
2       TXN_4271903    Cookie       4.0         1.0          0.0
3       TXN_7034554     Salad       2.0         5.0         10.0
4       TXN_3160411    Coffee       2.0         2.0          4.0
...             ...       ...       ...         ...          ...
9995    TXN_7672686    Coffee       2.0         2.0          4.0
9996    TXN_9659401   UNKNOWN       3.0         0.0          3.0
9997    TXN_5255387    Coffee       4.0         2.0          8.0
9998    TXN_7695629    Cookie       3.0         0.0          3.0
9999    TXN_6170729  Sandwich       3.0         4.0         12.0

      payment_method  location transaction_date
0        Credit Card  Takeaway       2023-09-08
1               Cash  In-store       2023-05-16
2        Credit Card  In-store       2023-07-19
3            UNKNOWN   UNKNOWN       2023-04-27
4     Digital Wallet  In-store       2023-06-11
...              ...       ...              ...
9995         UNKNOWN   UNKNOWN       2023-08-30
9996  Digital Wallet   UNKNOWN       2023-06-02
9997  Digital Wallet   UNKNOWN       2023-03-02
9998  Digital Wallet   UNKNOWN       2023-12-02
9999            Cash  In-store       2023-11-07

[10000 rows x 8 columns]

Find unique values

In [22]:
for col in df.columns:
    print(f"\nColumn: {col}")
    print(df[col].unique())

Column: transaction_id
['TXN_1961373' 'TXN_4977031' 'TXN_4271903' ... 'TXN_5255387' 'TXN_7695629'
 'TXN_6170729']

Column: item
['Coffee' 'Cake' 'Cookie' 'Salad' 'Smoothie' 'UNKNOWN' 'Sandwich' 'Juice'
 'Tea']

Column: quantity
[2. 4. 5. 3. 1. 0.]

Column: unit_price
[2.  3.  1.  5.  4.  1.5 0. ]

Column: total_sales
[ 4.  12.   0.  10.  20.   9.  16.  15.  25.   8.   5.   3.   6.   2.
  1.   7.5  4.5  1.5]

Column: payment_method
['Credit Card' 'Cash' 'UNKNOWN' 'Digital Wallet']

Column: location
['Takeaway' 'In-store' 'UNKNOWN']

Column: transaction_date
<DatetimeArray>
['2023-09-08 00:00:00', '2023-05-16 00:00:00', '2023-07-19 00:00:00',
 '2023-04-27 00:00:00', '2023-06-11 00:00:00', '2023-03-31 00:00:00',
 '2023-10-06 00:00:00', '2023-10-28 00:00:00', '2023-07-28 00:00:00',
 '2023-12-31 00:00:00',
 ...
 '2023-08-01 00:00:00', '2023-01-20 00:00:00', '2023-11-11 00:00:00',
 '2023-02-13 00:00:00', '2023-07-30 00:00:00', '2023-02-17 00:00:00',
 '2023-05-20 00:00:00', '2023-11-05 00:00:00', '2023-03-27 00:00:00',
 '2023-07-03 00:00:00']
Length: 366, dtype: datetime64[ns]

Clean Text Columns

In [23]:
for col in df.select_dtypes(include="object").columns:
    df[col] = df[col].str.strip()
print(df)

     transaction_id      item  quantity  unit_price  total_sales  \
0       TXN_1961373    Coffee       2.0         2.0          4.0
1       TXN_4977031      Cake       4.0         3.0         12.0
2       TXN_4271903    Cookie       4.0         1.0          0.0
3       TXN_7034554     Salad       2.0         5.0         10.0
4       TXN_3160411    Coffee       2.0         2.0          4.0
...             ...       ...       ...         ...          ...
9995    TXN_7672686    Coffee       2.0         2.0          4.0
9996    TXN_9659401   UNKNOWN       3.0         0.0          3.0
9997    TXN_5255387    Coffee       4.0         2.0          8.0
9998    TXN_7695629    Cookie       3.0         0.0          3.0
9999    TXN_6170729  Sandwich       3.0         4.0         12.0

      payment_method  location transaction_date
0        Credit Card  Takeaway       2023-09-08
1               Cash  In-store       2023-05-16
2        Credit Card  In-store       2023-07-19
3            UNKNOWN   UNKNOWN       2023-04-27
4     Digital Wallet  In-store       2023-06-11
...              ...       ...              ...
9995         UNKNOWN   UNKNOWN       2023-08-30
9996  Digital Wallet   UNKNOWN       2023-06-02
9997  Digital Wallet   UNKNOWN       2023-03-02
9998  Digital Wallet   UNKNOWN       2023-12-02
9999            Cash  In-store       2023-11-07

[10000 rows x 8 columns]

Save cleaned data

In [24]:
# Export to CSV, replacing NaT / NaN with 'NULL'
df.to_csv("cleaned_cafe_sales.csv", index=False)